# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeFiles
build/*
CMakeCache.txt
cmake_install.cmake
.ninja_log
compile_commands.json
build.ninja
.ninja_deps
.cache/clangd/index
snake
